@page
@model MyApp.Namespace.ListModel
@{
    ViewData["Title"] = "Restaurants";

}
<h3>Restaurants</h3>
<form action="/Restaurants/List" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span>
                <button class="btn btn-info">
                    <i class="fas fa-search"></i>Search
                </button>
            </span>
        </div>
    </div>
</form>
@if (Model.DeleteMessage != null)
{
    <div class="alert alert-info">
        @Model.DeleteMessage
    </div>
}

@foreach(var restaurant in Model.Restaurants )
{
    <partial name="_Summary" model="restaurant" />
}
<div>
    <a asp-page=".\Edit" class="btn btn-info">
        <span class="glyphicon glyphicon-plus"></span> Add New
    </a>

</div>

@section footer{

        @Model.Message
    
}